$font-family-base: 'Khula', sans-serif;
$font-family: 'Muli', sans-serif;

$font-family-base-normal-weight: 300;
$font-family-base-bold-weight: 700;

$main-color: #3a3a3a;
$second-color: #3a3a3a;
$red-variant: #3a3a3a;


$light-blue: #1dd4d4;
$purple: #5760AB;
$yellow:  #F7CD1F;
$blue:  #2c2ff0;
$pink:  #ee525f;
$pink-orange:  #f56767;
$orange:  #ff7e15;

$purple-variant: #270230;

// rgba(242, 55, 61, 0.91);

$font-color-base: #333333;

// Sapcing 
$space-base: 1rem;
$space-small: 1.125rem;
$space-medium: 2.25rem;
$space-large: 3.375rem;
$space-x-large: 4.5rem;
$space-xx-large: 5.625rem;
$space-xxx-large: 6.75rem;

// Between components
$space-out-small: 1.125rem;
$space-out-medium: 2.25rem;
$space-out-large: 3.375rem;
$space-x-out-large: 4.5rem;
$space-xx-out-large: 5.625rem;
$space-xxx-out-large: 6.75rem;
