.project-info__title {
  margin-top: $space-out-large;

  h1 {
      color: #fff;
      font-size: 2rem;
      text-align: center;
  }

  @include query(650px) {
    margin-top: 8rem;

    h1 {
        text-align: left;
        font-size: 3rem;
    }
  }
}

.project-info__details {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    position: relative;
}


.project-info__item {
  width: 100%;
  flex: 1 auto;
  padding: $space-small;

  a {
    margin: $space-base $space-base 0 0;
  }

  @include query(1000px) {
      width: 30%;
  }
}

.project-info__item-tool {
  padding: $space-large $space-medium;
  float: left;
  
  @include query(1000px) {
    width: 35%;
    padding: 0 0 $space-large $space-large;
  }
}

.project-info__tools:before {
  content: "";
  display: block;
  background: center no-repeat url('/assets/images/tools02.png');
  width: 48px;
  height: 59px;
  background-size: 90%;
  margin-right: 10px;
  float: left;
}

