.projects {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none;
    padding: 0;
}


.project {
    position: relative;
    margin: 45px 20px;
    max-width: 300px;
    flex: 1 auto;
    border: 1px solid #333333
}

.project:hover {
    border: 1px solid #fff;

    h4 {
        // color: $red-variant;
        border-bottom: none;
    }
}

.project-img__wrapper {
    background-color: #fff;
}


.project-img {  
    background-color: #fff;

    a {
        border-bottom: none;
    }

    img {
        filter: grayscale(100%) opacity(0.2);
    }
 }

.project-img:hover {
    img {
        filter: opacity(0.0);
    }
}

.project-info {
    position: absolute;
    padding: 30px;
    top: 10px;
}

.project-info:hover {
    background-color: #fff;
}

.project__title {
    margin-bottom: $space-out-small;
    background-color: transparent;
    color: $font-color-base;
    font-weight: 600;
    display: inline-block;
    -webkit-text-decoration-skip: objects;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    letter-spacing: .2rem;
    text-transform: uppercase;
    will-change: transform,opacity;
    -webkit-font-smoothing: antialiased !important;
}

.draw-border-red {
    border: 1px solid black;
    @include btn-border-drawing(#000, rgb(51, 49, 49), 2px, bottom, right);
}


.draw-border-conversable {
    @include btn-border-drawing($font-color-base, $red-variant, 0.25px, bottom, right);
}

.draw-border-pink {
    @include btn-border-drawing($font-color-base, $pink , 0.25px, bottom, right);
}

.draw-border-pink:hover {
    h4 {
        color: $pink;
    } 
}

.draw-border-purple {
    @include btn-border-drawing($font-color-base, $purple , 0.25px, bottom, right);
}

.draw-border-purple:hover {
    h4 {
        color: $purple;
    } 
}

.draw-border-light-blue {
    @include btn-border-drawing($font-color-base, $light-blue , 0.25px, bottom, right);
}

.draw-border-light-blue:hover {
    h4 {
        color: $light-blue;
    } 
}

.draw-border-orange {
    @include btn-border-drawing($font-color-base, $orange , 0.25px, bottom, right);
}

.draw-border-orange:hover {
    h4 {
        color: $orange;
    } 
}

.draw-border-blue {
    @include btn-border-drawing($font-color-base, #5760AB , 0.25px, bottom, right);
}

.draw-border-blue:hover {
    h4 {
        color: #5760AB;
    } 
}

.draw-border-yellow {
    @include btn-border-drawing($font-color-base, $yellow , 0.25px, bottom, right);
}

.draw-border-yellow:hover {
    h4 {
        color: $yellow;
    } 
}

