<!--Contact-->
<section class="l-group section-wrap group" id="contact">

<!-- <div class="contact__title">
    <h2 class="h2-section">Contact</h2>

</div> -->


<div class="bg-pattern contact__message-cont">
    <div class="contact__message">
    <img class="contact__img" src="/assets/images/mail_basic.png" alt="">
    <p>Would you want to work together? I probably do, too. Just drop me a line and say hello.</p>
    <a class="a--underline" href="">majosm96@gmail.com</a>
    </div>
</div>

</section>