.skills {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none;
    padding: 0;
}

.skills__item-skill {
    width: 100%;
    flex: 1 auto;
    text-align: center;
    padding: $space-small;
    position: relative;

    @include query(650px) {
        width: 30%;
    }
}

.skills__img {
    img {
        width: 80px;
        margin: 2rem;
    }
}

.skills--border:before {
    content: "";
    background: center no-repeat url('/assets/images/border03.png');
    height: 22px;
    width: 250px;
    background-size: 100%;
    display: inline-block;

    @include query(650px) {
        background: center no-repeat url('/assets/images/border02.png');
        height: 331px;
        width: 24px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
    }
}  

.skills--border:after {
    content: "";
    background: center no-repeat url('/assets/images/border04.png');
    height: 22px;
    width: 250px;
    background-size: 100%;
    display: inline-block;

    @include query(650px) {
        content: "";
        background: center no-repeat url('/assets/images/border.png');
        height: 331px;
        width: 24px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
    }
}