<main role="main l-group">
    <!--Teaser about me-->
    <section class="l-group section-wrap group personal-info">

      <div class="personal-info__item align">
        <div class="img-wrapper">
          <img class="my-img" src="/assets/images/majito.png" alt="">
      </div>

        <ul class="social-icons">
          <li><a target="_blank" href="https://github.com/majosm96"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li><a target="_blank" href="https://medium.com/@marajossols/highlights"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/in/mar%C3%ADa-jos%C3%A9-sol%C3%ADs-129525122/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a target="_blank" href="https://twitter.com/majosm969"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
      </div>

      <div class="personal-info__item item2" id="">
        <h1>Hello</h1>
        <p>I'm Maria Jose, a designer with some developer and QA skills. Also photographer amateur, environmentalist and lover of the adventure. I love working with people who
        <strong>love</strong> what they do. :)</p>
      </div>

    </section>

    <!--List of works-->
    <section class="l-group section-wrap group" id="projects">

      <h2 class="h2-section">Work</h2>

      <div class="bg-pattern">

        <nav class="projects">

          <a [routerLink]="'/projects/1'" class="project draw-border-blue">
              <div class="project-info">
                <h4 class="project__title">05 Minute foundation</h4>
                <p>UI</p>
              </div>
              <div class="project-img">
                <img class="" src="/assets/images/wave.jpg" alt="Blog post">
              </div>
          </a>

          <a [routerLink]="'/projects/3'" class="project draw-border-blue">
            <div class="project-info">
              <h4 class="project__title">Micro World</h4>
              <p>Biodesign</p>
            </div>
            <div class="project-img">
              <img class="" src="/assets/images/forest.jpg" alt="Blog post">
            </div>
          </a>

          <a [routerLink]="'/projects/2'" class="project ddraw-border-blue">
            <div class="project-info">
              <h4 class="project__title">Cedro Negro</h4>
              <p>Branding, UX & UI</p>
            </div>
            <div class="project-img">
              <img class="" src="/assets/images/cedronegro.jpg" alt="Blog post">
            </div>
          </a>
          
          <a [routerLink]="'/projects/4'"  class="project draw-border-blue">
              <div class="project-info">
                <h4 class="project__title">Galaxies</h4>
                <p>UX - UI</p>
              </div>
              <div class="project-img">
                <img class="" src="/assets/images/galaxias.png" alt="Blog post">
              </div>
          </a>

          <!-- <a href="project04.html"  class="project draw-border-blue">
              <div class="project-info">
                <h4 class="project__title">Remora</h4>
                <p>HTML, CSS, Sass, Gulp, JavaScript</p>
              </div>
              <div class="project-img">
                <img class="" src="img/remora.jpg" alt="Blog post">
              </div>
          </a> -->

          <!-- <a href="project05.html"  class="project draw-border-yellow">
              <div class="project-info">
                <h4 class="project__title">Events</h4>
                <p>UI</p>
              </div>
              <div class="project-img">
                <img class="" src="/assets/images/party.jpg" alt="Blog post">
              </div>
          </a>        -->
        </nav>

      </div>

    </section>

    <!--Skills-->
    <section class="l-group section-wrap bg-yellow" id="skills">

      <h2 class="h2-section">Skills</h2>

      <div class="l-group section-wrap group skills">
        <div class="skills__item-skill">
          <div class="skills__img">
            <img src="/assets/images/design02.png" alt="">
          </div>
          <h4>Design</h4>
          <p>UX, UI, Figma, Photoshop, Illustrator, Zeplin, Design Thinking</p>
        </div>

        <div class="skills__item-skill">
          <div class="skills__img">
            <img src="/assets/images/heartyellow.png" alt="">
          </div>
          <h4>Soft Skills</h4>
            <p>Nonviolent Communication, Entrepreneurship, Agile Methodologies</p>
        </div>

        <div class="skills__item-skill">
            <div class="skills__img">
              <img src="/assets/images/code02.png" alt="">
            </div>
            <h4>Web</h4>
            <p>HTML, CSS , JavaScript, Angular</p>
        </div>
      </div>

    </section>

    <!--Contact-->
    <section class="l-group section-wrap group" id="contact">

      <div class="contact__title">
        <h2 class="h2-section">Contact</h2>

      </div>


      <div class="bg-pattern contact__message-cont">
        <div class="contact__message">
            <img class="contact__img" src="/assets/images/mail_basic.png" alt="">
            <p>Do you want to work together? I probably do, too. Just drop me a line and say hello.</p>
            <a class="a--underline" href="mailto:someone@example.com?Subject=Hello%20again">majosm96@gmail.com</a>
        </div>
      </div>

    </section>
  </main>